body{ /* selecionamos o corpo do site inteiro */
    background-color: Seashell; /* alterar a cor do fundo do site */
    color: rgb(194, 114, 114); /* alterar a cor da fonte */
    margin: 50px; /* alterar a margem em volta da página - semelhante à margem do word */
    font-family: "Poppins", sans-serif; /* alterar a fonte */
    font-weight: 400; /* alterar o peso da fonte - 400 = normal */
    display: flex; /* alterar a disposição dos elementos na tela - quero que eles sejam 'flexíveis', ou seja ocupem o espaço disponível de forma mais homogênea */
    flex-direction: column; /* alterar a orientação dos elementos na tela - vão aparecer em coluna */
}

h1, h2{ /* seleciona duas tags ao mesmo tempo */
    text-align: center; /* alterar o alinhamento do texto - center= centralizado, end= lado direito, start= lado esquerdo */
}